
:root {
    --color--gray-3: #fffae6;
    --font-family--body: Inter, sans-serif;
    --color--gray-1: #647263;
    --font-family--heading: Anton, sans-serif;
    --color--heading: var(--color--primary-1);
    --border-radius--sm: 15px;
    --color--gray-2: #f4f0d5;
    --color--primary-1: #1e3832;
    --color--footer: #1e3832;
    --color--footer-text: #ffffff;
    --color--white: white;
    --color--black: black;
    --border-radius--border-radius: 30px;
    --color--primary-3: #f3b258;
    --border-radius--button: 50px;
    --color--primary-2: #2c160c;
    --border-radius--xs: 5px;
    --color--transparent: transparent;
}
:root[data-theme="dark"] {
    --color--gray-3: #0f1f1b; 
    --color--gray-2: #1a2e29;   
    --color--gray-1: #9fb5ae; 

    --color--primary-1: #e9f2ef;
    --color--primary-2: #9fd8c7;
    --color--primary-3: #9fcfbe;
    --color--footer: #1e3832;
    --color--footer-text: #ffffff;

    --color--heading: var(--color--primary-1);
    --color--white: black;
    --color--black: white;


    --color--transparent: transparent;

    --font-family--body: Inter, sans-serif;
    --font-family--heading: Anton, sans-serif;
    --border-radius--sm: 15px;
    --border-radius--border-radius: 30px;
    --border-radius--button: 50px;
    --border-radius--xs: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:var(--color--gray-3);
  font-size: 20px;
  font-family: var(--font-family--body);
  transition: background-color 0.5s ease;
}
/* a[data-theme="dark"] {
  color: #ffffff;
} */
:root[data-theme="dark"] body{
    /* color:white; */
}
label{
    color:var(--color--black);
}
ul{
    list-style:none;
}
a {
  text-decoration: none;
  color: inherit;
}
section{
    width: 100%;
}
h1,h2,h3,h4,h5{
    color: var(--color--primary-1);
    font-family: var(--font-family--heading);
    font-weight: 600px;
    transition: color 0.5s ease;
}
p{
    color: var(--color--gray-1);
}
button{
    background-color: inherit;
    font-size: 18px;
}

/* NAV */
.nav-button{
    display: none;
}
#theme-toggle{
    margin:auto;
    margin-right: 24px;
    width: 40px;
    height: 40px;
}
#theme-toggle i{
    font-size: 30px;
}
nav{
    background-color: var(--color--primary-3);
    display: flex;
    align-items: flex-start;
    transition: all 0.5s ease;
}
nav .nav-list{
    width: fit-content;
}
nav .nav-item{
    display:inline-block;
    padding: 24px 20px;
}
.intro-wrapper{
    max-width: 600px;
    margin:0 auto;
    text-align:center;
}
.intro h1{
    font-size: 60px;
    font-weight: 500;
}
.intro-wrapper *{
    margin: 30px 0;
}
.intro-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
}
.main-button{
    border-style: solid;
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-2);
    border-radius: var(--border-radius--button);
    color: var(--color--primary-2);
    text-align: center;
    padding: 14px 30px;
    font-size: 18px;
    line-height: 1.4em;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.main-button:hover{
    background-color: var(--color--primary-3);
        border-color: var(--color--gray-1);
}
/* INDEX */
.running-line {
  width: 100%;
  overflow: hidden;
  padding: 12px 0;
  white-space: nowrap;
}

.running-line h1{
  padding-left: 100%;
  width: max-content;
  animation: move-left 20s linear infinite;
}

.running-line img{
    width:100%;
    margin: -3px 0px;
}
.running-line .upside-down{
    transform: rotate(180deg);
}

@keyframes move-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.activity{
    padding: 0px 20px;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 50px;
}
.card{
    flex:1;
    position: relative;
}
.card .card-title{
    text-align: center;
}
.card .img-wrapper{
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius--sm);
    border-style: solid; 
    border-color: (--color--primary-2);
    border-width: 3px 8px 8px 3px;
    height: fit-content;
    margin: 20px 0px;
}
.card img{
    width: 100%;
    transition: all 0.3s ease;
}
.card p{
    height: 100px;
}
.card .read-more{
    /* position: absolute;
    bottom:-40px; */
}
.card-title{
    transition: all 0.3s ease;
}
.card:hover .card-title{
    color: var(--color--primary-3);
}
.card:hover img{
    transform: scale(1.2);
}
.comments{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 30px 0px;
}
.comments .comment-title{
    width: 100%;
    text-align: center;
}
.comment{
    flex: 0 0 30%;
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-3);
    border-style: solid;
    border-radius: var(--border-radius--sm);
    padding: 20px;
}
.comment .stars{
    color: var(--color--gray-1);
    padding-bottom: 10px;
}
.comment .stars .filled{
    color: var(--color--primary-1);
}
.achievements{
    display: flex;
    padding: 30px;
    padding-bottom: 200px;
    flex-wrap: wrap;
}
.achievement{
    text-align: center;
    flex:1;
}
.achievement .orange-title{
    color: var(--color--primary-3);
}
.achievement .achievement-title{
    font-size: 80px;
}
.achievement .achievement-sub-title{
    font-weight: 200;
}
.story-1{
    display: flex;
    padding: 20px;
    background-color: var(--color--gray-2);
    align-items: center;
    flex-wrap: wrap;
}
.story-1 img{
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-1);
}
.story-1-wrapper{
    padding-right: 20px;
}
.story-1 > *{
    flex-basis: 50%;
}
.story-1 .story-1-img img{
    width: 100%;
}
.story-1-other-img{
    flex-basis: 100%;
    display: grid;
    gap: 30px;
    width: 100%;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;   
    grid-template-areas:
        "pic-a pic-c pic-d"
        "pic-b pic-c pic-d";
    padding: 50px 0px;
}
.pic-a{grid-area: pic-a;}
.pic-b{grid-area: pic-b;}
.pic-c{grid-area: pic-c;}
.pic-d{grid-area: pic-d;}
.story-1-other-img img {
    height: 100%;
    width: 100%;
    border-width: 0px;
    
}
.intro{
    background-color: var(--color--gray-1);
    text-align: center;
    padding: 40px;
    width: 80%;
    margin: 20px auto;
    border-radius: var(--border-radius--sm);
    background-color: var(--color--gray-2);
    transition: background-color 0.5s ease;
}

/* SERVICE (menu) */
.menu{
    padding: 30px;

}
.menu .title{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.menu .big-pic{
    width:50%;
    border: solid 5px var(--color--primary-1);
    border-radius: var(--border-radius--sm);
}
.menu ul{
    width:50%;
    display:flex;
    flex-direction: column;
    flex:1;
}
.flex-wrapper{
    display:flex;
    flex:1;
}
.menu li{
    width:100%;
    align-items: center;
    display:flex;
    flex-grow: 1;
}
.menu .li-flex{
    display:flex;
    flex:1;
}
.menu .price{ 
    margin-left: auto;
}
.menu .item-title{
    width: fit-content;
}
.menu .item-devider{
    width: 100%;
    border-bottom: solid 1px black;
}   
.menu .small-pic{
    height:70px;
    width:70px;
    border-radius:50%;
    margin: 0px 20px;
}
.menu .temp-wrapper{
    width:100%;
    padding: 20px;
}
.menu p{
    color: var(--color--gray-1);
    padding-top:10px;
}
.order{
    display:flex;
    flex-wrap: wrap;
    padding: 0px 100px;
}
.order input{
    width:100%;
    background-color: inherit;
    padding: 10px;
    margin-bottom: 20px;
}
.order label{
    width:100%;
}
.order .option input{
   width: fit-content;
}
.order .order-item{
    margin-bottom: 30px;
    /* text-align: center; */
    flex: 0 0 25%;
}
.order .order-item .checkbox{
    width:fit-content;
    margin-bottom:0;
}
.order .plus,.minus{
    width: 30px;
    height: 30px;
}
.order .main-button{
    /* flex-basis: 100%;
    width: 60%; */
    white-space: nowrap;
}
/* POLICY + BLOG-SAMPLE */
.page-wrapper{
    padding: 20px 300px;
}
.page-wrapper .page-detail{
    color: var(--color--gray-1);
}
.page-wrapper ul{
    padding-left: 20px;
}
.page-wrapper li{
    color:inherit;
}
.page-wrapper .bullet{
    list-style:circle;
}
.number{
    list-style:decimal;
}
.page-wrapper .page-title{
    padding-top:50px;
    padding-bottom:20px;
}
.page-wrapper .page-img{
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-style: solid;
    border-color: var(--color--primary-2); 
}
.page-video-wrapper,
.page-img-wrapper{
    width:100%;
    position: relative;
    padding-bottom: 50%;
}
.page-video-wrapper .page-video,
.page-img-wrapper .page-img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: var(--border-radius--border-radius);
    object-fit: cover;
}
.paragraph-wrapper{
    width:120%;
    margin-left: -10%;
    font-weight: 600;
    color: var(--color--primary-1);
}
/* BLOG */
.blog{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap:40px;
    justify-content: space-between;
}
.blog .blog-card{
    flex-basis: 30%;
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-2);
    padding: 20px;
}
.blog-card .blog-img-wrapper{
    width:100%;
    overflow: hidden;
    border-radius: var(--border-radius--border-radius);
    margin-bottom: 20px;

}
.blog-card .blog-img{
    width:100%;
    transition: all 0.3s ease;
}
.blog-card:hover .blog-img{
    transform: scale(1.1);
}
.sub-title{
    border-style: solid;
    border-color: var(--color--primary-2);
    border-width: 3px 8px 8px 3px;
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--primary-3);
    width: fit-content;
    padding: 5px 20px;
    font-size: 16px;
}
.blog-card-desc{
    font-size: 20px;
    padding-top: 20px;
}
.related-blogs-title{
    padding: 10px 40px;
}

/* LOCATIONS - map */
.location-wrapper{
    display: flex;
    gap:50px;
    justify-content: center;
    margin: 20px;
    padding:50px;
    background-color:  var(--color--white); 
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-2);
    flex-wrap: wrap;
    align-items: center;
}
.location-wrapper > * {

    flex:1;
}
.location-wrapper .location-img img{
    width: 100%;
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-1);
}
.location-wrapper .location-detail{

}
.location-map{
    width: 100%;
    height: 200px;
    margin: 30px 0px;
}
.location-contact-link{
    display: block;
    padding-bottom: 10px;
    /* padding-top:20px; */
}
/* CONTACT */
.contact-form-wrapper{
    padding: 30px;
}
.contact-form {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "name email"
        "phone subject"
        "message message";
}
.form-input{
    padding:15px 20px;
    border-radius: var(--border-radius--border-radius);
    border-width: 1px;
}
.form-input:nth-child(1) { grid-area: name; }
.form-input:nth-child(2) { grid-area: email; }
.form-input:nth-child(3) { grid-area: phone; }
.form-input:nth-child(4) { grid-area: subject; }
.form-input:nth-child(5){ 
    grid-area: message;
    height: 200px;
    margin-bottom: 30px;
}
.contact{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.contact > *{
    flex-basis: 50%;
}
.contact-img{
    position: relative;
}
.contact-img img{
    width: 100%;
}
.pattern{
    width: 100%;
    position:absolute;
    inset: 0;
}
.contact-info{
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
}
.info-piece{
    flex:1;
    padding:40px;
    border-style: solid;
    border-width: 3px 8px 8px 3px;
    border-radius: var(--border-radius--border-radius);
}
.contact-icon-wrapper{
    width: 60px;
    height: 60px;
    background-color: var(--color--primary-1);
    color: var(--color--white);
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: var(--border-radius--sm);
}
.contact-icon-wrapper i{

}
.info-link{
    text-decoration:underline;
    font-size: 16px;
    transition: all 0.3s ease;
}
.info-link:hover{
    color: var(--color--gray-1);
}
.follow-info i{
    padding: 0px 5px;
    color: var(--color--primary-3);
    font-size: 16px;
    transition: all 0.3s ease;
}
.follow-info i:hover{
    opacity: 0.7;
}
/* ABOUT demo*/
.khung{
    border-style: solid;
    border-width: 8px 18px 18px 8px;
    border-color: #2c160c;
    border-radius: 30px;
    background-color: #2c160c;
    position: relative;
    width: 70%;
}

.dinh-hung-image{
    border-radius: 30px;
    background-color: rgb(226, 15, 15);
    object-fit: cover;
    width: 100%;
}

.journey{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;
}
.our-journey-list {
    margin-bottom: 10%;
    color: gray
}
.our-journey-list-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.col1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
}
.row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25%;
}
.wave {
  clip-path: polygon(
    0% 10%, 10% 0%, 20% 10%, 30% 0%, 40% 10%, 
    50% 0%, 60% 10%, 70% 0%, 80% 10%, 90% 0%, 
    100% 10%, 100% 90%, 90% 100%, 80% 90%, 
    70% 100%, 60% 90%, 50% 100%, 40% 90%, 
    30% 100%, 20% 90%, 10% 100%, 0% 90%
  );
}
/* ABOUT */
.about{
    padding: 20px;
}
.about h2{
    font-size: 50px;
    padding: 30px 0px;
}
.about-intro{
    text-align: center;
    padding-top: 100px;
}
.about-intro .about-title{
    font-size: 100px;
}
.about-img-wrapper img{
    width: 100%;
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 6px 16px 16px 6px;
    border-color: var(--color--primary-2);
}
.journey-wrapper{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    flex-wrap: wrap;
}
.journey-wrapper > *{
    flex: 1;
}
.journey-tick{
    display:flex;
    flex-wrap: wrap;
}
.journey-tick > *{
    flex-basis: 50%;
}
.tick-piece{
    display: flex;
    height: 50px;
}
.tick-piece .tick{
    width: 20px;
    height: 20px;
}
.stand-for{

}
.stand-for-img-wrapper{
    position: relative;
}
.stand-for-wrapper{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.stand-for-characters{
    flex-basis: 65%;
    display:flex;
    flex-wrap: wrap;
    gap:40px;
}
.stand-for-character{
    flex-basis: 40%;

}
.stand-for-img-wrapper{
    flex-basis: 35%;
}
.stand-for-img{
    width: 100%;
}  
.employees{
    text-align: center;
}
.employees-wrapper{
    display:flex;
    flex:1;
    gap:30px;
    flex-wrap: wrap;
} 
.employee-img-wrapper img{
    width:100%;
    border-style: solid;
    border-radius: var(--border-radius--border-radius);
    border-width: 3px 8px 8px 3px;
    border-color: var(--color--primary-2);
}
.employee-detail{
    display:flex;
    align-items: center;
}
.employee-detail .employee-role{
    margin-left: auto;
}
/* FOOTER */
footer{
    background-color: var(--color--footer);
    min-height: 500px;
    display:flex;
    flex:1;
    justify-content: space-around;
    gap:40px;
    padding:100px 30px;
}
footer .information{
    background-color:var(--color--gray-3);
    text-align: center;
    flex-basis: 100%;
    border-radius: var(--border-radius--border-radius);
    border-color: var(--color--primary-2);
    border-width: 3px 8px 8px 3px;
    border-style: solid;
    max-width: 400px;
}
footer .information .information-title{
    padding-top: 10px;
    padding-bottom:5px;
}
footer .information .information-detail{

}
footer .information .main-button{
    margin-top:20px;
    background-color: var(--color--primary-3);
}
.footer-contact .contact-title{
    color:var(--color--footer-text);
    font-size:50px;
}
.footer-contact input{
    padding: 10px 10px;
    width:100%;
    border-radius: var(--border-radius--border-radius);
}
.footer-contact .footer-contact-link{
    color:var(--color--footer-text);    
    display: block;
    padding-top: 20px;
    transition: all 0.3s ease;
}
.footer-contact .footer-contact-link:hover{
    color: var(--color--primary-3);
}
.footer-contact .input-wrapper{
    position: relative;
}
.footer-contact button{
    position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    border:none;
    background-color: var(--color--primary-3);
    padding: 5px;
    border-radius: 50%;
}
.footer-links{
    color:var(--color--footer-text);
}
.footer-links-title{
    color:var(--color--footer-text);
}
.footer-links-wrapper{
    flex-basis: 20%;
    text-align: center;
}
.footer-link{
    padding: 10px 0px;
    transition: all 0.3s ease;
}
.footer-link:hover{
    color:#f3b258;
}